.ctx__button {
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
	line-height: 1rem;
	cursor: pointer;

	&--reverse {
		flex-direction: row-reverse;
	}

	&.is-style-outline {
		background: transparent !important;
		box-shadow: inset 0px 0px 0px 2px currentColor;
		color: currentColor;
	}

	.ctx-icon {
		line-height: 0;
		display: inline-flex;
		align-items: center;
		inline-size: 1.25rem;
		block-size: 1.25rem;
		font-weight: 400 !important;
		font-style: normal;
		flex-shrink: 0;

		img,
		svg {
			inline-size: 100%;
			block-size: 100%;
			display: block;
		}

		svg,
		svg * {
			fill: currentColor;
			stroke: currentColor;
			font-weight: 400 !important;
		}
	}
}

.ctx-button-hidden {
	display: none !important;
}
